.vscode
data
db_backups
static
venv
.dockerignore
core/.env
.env
celerybeat-schedule
*.csv
__pycache__/
*.py[cod]
*$py.class
*.pyc
migrations/
internal_packages
backups
.idea
playground/*
!playground/pg.py
!playground/example.ipynb
.ssh
venv
setup_venv.py
venv.py
*.ipynb
custom_packages
.VSCodeCounter